## The sequence

In [ ]:
class Product:
    def __init__(self, code, name, price):
        self.code = code
        self.name = name
        self.price = price
        self.old_price = price
        
    def reduce_price(self, percentage):
        self.old_price = self.price
        new_price = self.price * (1 - percentage/100)
        self.price = round(new_price)
        
    def __str__(self):
        return (f'{self.name} ({self.code}): '
                + f'{self.old_price}=>{self.price}')

    def __repr__(self):
        return (f'<Product code={self.code}, '
                + f'name={self.name}, '
                + f'price={self.price}, '
                + f'old price={self.old_price}>')
    
    def __eq__(self, other):
        if isinstance(other, self.__class__):
            return (self.code == other.code)
        return False

### Listing 5-1

In [ ]:
product_names = ['cube', 'small cube', 'tiny cube', 
                 'large cube', 'XL cube']

### Listing 5-2

In [ ]:
products = [Product('K1', 'cube', 1000), 
            Product('K2', 'small cube', 500),
            Product('K3', 'tiny cube', 50),
            Product('K4', 'large cube', 1500),
            Product('K5', 'XL cube', 5000)]

### Listing 5-3

In [ ]:
mixed_list = [
    1, 
    'cube', 
    Product('K1', 'cube', 1000)
]

### Listing 5-4

In [ ]:
print('First element:', product_names[0])
print('Second element:', product_names[1])
print('Fifth element:', product_names[4])

### Listing 5-5

In [ ]:
print('Last element:', product_names[-1])
print('Fifth element from the end:', product_names[-5])

### Listing 5-6

In [ ]:
print('Elements from the index 0 to the index 2:', product_names[0:3])
print('Elements from the beginning to the index 2:', product_names[:3])
print('Elements from the index 2 to the end:', product_names[2:])

### Listing 5-7

In [ ]:
print('Every second elements from the index 1 to index 3:', product_names[1:4:2])
print('Every second elements reversed from the index 3 to index 1:', product_names[3:0:-2])
print('All of the elements:', product_names[:])

### Listing 5-8

In [ ]:
print('The product names list:', product_names)
print('Length of the products list:', len(product_names))
product_names.append('pluss cube')
product_names.extend(['cube v2.0', 'cube v3.0'])
print('The list after the inplace modification:', product_names)
print('The concatenated lists:', product_names + ['CUBE 4++'])
print('The product names list:', product_names)

### Listing 5-9

In [ ]:
print('The product names list:', product_names)
del product_names[0]
product_names.remove('cube v2.0')
print('The product names list:', product_names)

### Listing 5-10

In [ ]:
print('Products for sale:')
for product in products:
    print(product)

### Listing 5-11

In [ ]:
product_name_groups = [
    ['small cube', 'tiny cube'], 
    ['cube'], 
    ['large cube', 'XL cube'],
]
print('First group:', product_name_groups[0])
print('First element of the first group:', 
      product_name_groups[0][0])
product_name_groups[1].append("Cube M+")
print('2nd group:', product_name_groups[1])
print('First and second elements of the 2nd group:', 
      product_name_groups[1][0], 'and',
      product_name_groups[1][1])

### Listing 5-12

In [ ]:
names = []
for product in products:
    names.append(product.name)
names_v2 = [product.name for product in products]
print(names, names_v2)

### Listing 5-13

In [ ]:
[p.name for p in products]

### Listing 5-14

In [ ]:
[p.name for p in products 
       if p.price >= 1000]

### Listing 5-15

In [ ]:
[(p.name, p2.name) for p in products 
                 for p2 in products 
                 if p.price < p2.price]

### Listing 5-16

In [ ]:
print('All names contains "cube":', 
      all(['cube' in p.name for p in products]))
print('Any names contains "cube":', 
      any(['cube' in p.name for p in products]))

### Listing 5-17

In [ ]:
print('Highest price:',
      max([p.price for p in products]))
print('Lowest price:',
      min([p.price for p in products]))
print('Avarage price:',
      sum([p.price for p in products])/len(products))

### Listing 5-18

In [ ]:
for i, p in enumerate(products, start=1):
    print(i, p.name)
for p1, p2 in zip(products, products[1:]):
    print(abs(p1.price-p2.price), p1.name, 
          '<' if p1.price < p2.price else '>', p2.name)

### Listing 5-19

In [ ]:
products_fix = (Product('K1', 'cube', 1000), 
                Product('K2', 'small cube', 500))

### Listing 5-20

In [ ]:
products_fix2 = Product('K1', 'cube', 1000), \
                Product('K2', 'small cube', 500)

### Listing 5-21

In [ ]:
products_fix2[0]

### Listing 5-22

In [ ]:
k1, k2 = products_fix
k1, k2, *k_rest = products

### Listing 5-23

In [ ]:
codes = {'K1': Product('K1', 'cube', 1000), 
         'K2': Product('K2', 'small cube', 500),
         'K3': Product('K3', 'tiny cube', 50),
         'K4': Product('K4', 'large cube', 1500),
         'K5': Product('K5', 'XL cube', 5000)}

### Listing 5-24

In [ ]:
codes['K1']

### Listing 5-25

In [ ]:
codes['K2'] = Product('K2', 'mini cube', 600)
codes['K6'] = Product('K6', '+ cube', 1000)

### Listing 5-26

In [ ]:
new_codes = {'K1': Product('K1', 'starter cube', 900),
             'K10': Product('K10', 'premium cube', 90000)}
codes | new_codes

### Listing 5-27

In [ ]:
codes.update({
    'K7': Product('K7', 'cube v2.0', 2000), 
    'K8': Product('K8', 'cube v3.0', 2900)
})
codes |= ({
    'K17': Product('K17', 'cube v12.0', 12000), 
    'K18': Product('K18', 'cube v13.0', 12900)
})

### Listing 5-28

In [ ]:
for k in codes.keys():
    codes[k].reduce_price(3)
    print(f"New price of the product with {k} code is {codes[k].price}")

### Listing 5-29

In [ ]:
for p in codes.values():
    p.reduce_price(3)
    print(f"New price of the product with {p.code} code is {p.price}")

### Listing 5-30

In [ ]:
for k, p in codes.items():
    p.reduce_price(3)
    print(f"New price of the product with {k} code is {p.price}")

### Listing 5-31

In [ ]:
{p.code: p.name for p in products}

### Listing 5-32

In [ ]:
SIZES = {'LARGE', 'SMALL'}
OTHER = {'DISCOUNTED', 'LASTONES'}
THE_PRODUCT = {'LARGE', 'DISCOUNTED'}

### Listing 5-33

In [ ]:
labels = SIZES | OTHER
the_size = THE_PRODUCT & SIZES
print(the_size)
opposite = labels - THE_PRODUCT
print(opposite)

### Listing 5-34

In [ ]:
labels = SIZES.union(OTHER)
the_size = THE_PRODUCT.intersection(SIZES)
print(the_size)
opposite = labels.difference(THE_PRODUCT)
print(opposite)

### Listing 5-35

In [ ]:
categories = {
    frozenset({'DISCOUNTED', 'SMALL'}),
    frozenset({'DISCOUNTED', 'LARGE'}),
    frozenset({'LARGE'}),
    frozenset({'SMALL'}),
    frozenset()}
frozenset({'LARGE', 'DISCOUNTED'}) in categories

### Listing 5-36

In [ ]:
a = ['S cube', 'M cube', 'L cube']
b = a
c = list(a)
d = a[:]

print('Do a and b reference to the same object?', a is b)
print('Do b and c reference to the same object?', a is c)
print('Do a and d reference to the same object?', a is d)

### Listing 5-37

In [ ]:
orig_names = [['XS cube', 'S cube'], 'M cube', ['L cube', 'XL cube']]
copied_names = orig_names[:]
orig_names.append('+ cube')
orig_names[2].append('XXL cube')

print('Original list:', orig_names)
print('Copied list:', copied_names)

### Listing 5-38

In [ ]:
# unordered positive integers
daily_sales = [1, 2, 4, 7]
# monotonically increasing positive integers
cummulative_daily_sales = [1, 3, 7, 14]
# unordered signed integers
changes_in_daily_sales = [1, 1, 2, 3]

### Listing 5-39

In [ ]:
class Items:
    class Item_iter:
        def __init__(self, item):
            self.i=iter(item)
        def __iter__(self):
            return self
        def __next__(self):
            return next(self.i)
        
    def __init__(self, items):
        self.items = list(items)
        
    def __iter__(self):
        return Items.Item_iter(self.items)

### Listing 5-40

In [ ]:
items = Items(('K1', 'K2', 'K3'))
for item in items:
    print(item)

### Listing 5-41

In [ ]:
item_iter = iter(items)
print(next(item_iter))
print(next(item_iter))
print(next(item_iter))
print(next(item_iter))

### Listing 5-42

In [ ]:
from copy import copy, deepcopy
orig_names = [['XS cube', 'S cube'], 'M cube', ['L cube', 'XL cube']]
shallow_copied_names = copy(orig_names)
deep_copied_names = deepcopy(orig_names)
orig_names.append('+ cube')
orig_names[2].append('XXL cube')

print('Original list:', orig_names)
print('Shallow copied list:', shallow_copied_names)
print('Deep copied list:', deep_copied_names)

### Listing 5-43

In [ ]:
def discount_price():
    for discount_value in range(10):
        product = Product('K01', 'cube', 1000)
        product.reduce_price(discount_value)
        yield product.price
        
for price in discount_price():
    print(price)

### Listing 5-44

In [ ]:
((p.code, p.name) for p in products)

### Listing 5-45

In [ ]:
def discount_price():
    product = Product('K01', 'cube', 1000)
    discount_value = 0
    while True:
        product.reduce_price(discount_value)
        discount_value = yield product.price
        if discount_value is None:
            return

### Listing 5-46

In [ ]:
(list(filter(lambda p: p.price >= 1000, products)),
list(map(lambda p: p.name, products)))