# Pragmatic Python Programming

2022 (C) Copyright, Gabor Guta

The cell below is to check Python version.

In [2]:
import sys
print(sys.version)

3.10.4 (main, Jun 29 2022, 12:14:53) [GCC 11.2.0]

Definitions needed from the preceding chapters: Listing 3-7, 3-13, 3-17, 3-20

In [20]:
class Customer:
    def __init__(self, name, email, phone, 
                 shipping_address, 
                 billing_address=None):
        self.name = name
        self.email = email
        self.phone = phone
        self.shipping_address = shipping_address
        self.billing_address = billing_address


class Address:
    def __init__(self, zip_code, city, address, country):
        self._zip_code = zip_code
        self.city = city
        self.address = address
        self.country = country

    @property
    def full_address(self):
        return (f'{self._zip_code} {self.city}, '
                + f'{self.address}, {self.country}')
    
    @property
    def zip_code(self):
        return str(self._zip_code)
    
    @zip_code.setter
    def zip_code(self, zip_code):
        self._zip_code = int(zip_code)


class Product:
    def __init__(self, code, name, price):
        self.code = code
        self.name = name
        self.price = price
        self.old_price = price
        
    def reduce_price(self, percentage):
        self.old_price = self.price
        new_price = self.price * (1 - percentage/100)
        self.price = round(new_price)
        
    def __str__(self):
        return (f'{self.name} ({self.code}): '
                + f'{self.old_price}=>{self.price}')

    def __repr__(self):
        return (f'<Product code={self.code}, '
                + f'name={self.name}, '
                + f'price={self.price}, '
                + f'old price={self.old_price}>')
    
    def __eq__(self, other):
        if isinstance(other, self.__class__):
            return (self.code == other.code)
        return False
    

class Order:
    class Item:
        def __init__(self, product, quantity):
            self.product = product
            self.quantity = quantity
            
    def __init__(self, products, customer):
        self.items = list(products)
        self.customer = customer
        self.state = 'CREATED'
        
    def close(self):
        self.state = 'CLOSED'
        
    def post(self):
        self.state = 'SENT'

    def __str__(self):
        return (f'Order state: {self.state}, items: {[item.product.name+" x"+str(item.quantity) for item in self.items]}')

    def __repr__(self):
        return (f'<Order state={self.state}, '
                + f'items={[item.product.name+" x"+str(item.quantity) for item in self.items]}')

## The module

### Listing 6-1

In [4]:
import datetime
datetime.date(2020,2,2).strftime('%Y.%m.%d.')

'2020.02.02.'

### Listing 6-2

In [5]:
import datetime as dt
dt.date(2020,2,2).strftime('%Y.%m.%d.')

'2020.02.02.'

### Listing 6-3

In [6]:
from datetime import date
date(2020,2,2).strftime('%Y.%m.%d.')

'2020.02.02.'

### Listing 6-4

In [7]:
from datetime import date as Datum
Datum(2020,2,2).strftime('%Y.%m.%d.')

'2020.02.02.'

### Listing 6-5

In [8]:
from datetime import date, timedelta
date(2020,2,2)-date(2020,1,1) > timedelta(days=30)

True

### Listing 6-6

In [9]:
from decimal import Decimal
VALUE_DEC = Decimal('9.45')

### Listing 6-7

In [ ]:
FLOAT_NUM = 1.1
FINANCIAL_NUM = Decimal('1.1')
print(f'{FLOAT_NUM:.50f}, {FINANCIAL_NUM:.50f},')

1.10000000000000008881784197001252323389053344726562, 1.10000000000000000000000000000000000000000000000000,

### Listing 6-8

In [ ]:
from decimal import getcontext, ROUND_HALF_UP
getcontext().rounding = ROUND_HALF_UP
getcontext().prec=28
AR=Decimal('33')
AFA=Decimal('1.27')
osszeg=(AR*AFA).quantize(Decimal('0.01'))
print(f'{osszeg:.20f}')

41.91000000000000000000

### Listing 6-9

In [ ]:
from collections import deque

### Listing 6-10

In [ ]:
index_numbers = deque((1, 2, 3, 4))
index_numbers.append(5)
index_numbers.popleft()

1

### Listing 6-11

In [21]:
if __name__=='__main__':
    customer = Customer('X Y',
        'xy@axonmatics.com',
        '1/1234567',
        Address('1011', 'Budapest',
            'Wombat street 1st', 'HUNGARY'))
    products = [
        Order.Item(Product('A', 'cubE', 1), 2), 
        Order.Item(Product('B', 'cubF', 3), 5)
    ]
    order = Order(products, customer)
    print(order)

Order state: CREATED, items: ['cubE x2', 'cubF x5']

### Listing 6-14

In [22]:
import requests
from bs4 import BeautifulSoup

### Listing 6-15

In [39]:
APRESS = 'https://apress.github.io'
Q = APRESS + '/pragmatic-python-programming/quotes.html'
r = requests.get(Q, timeout=1)
print(r.status_code, r.headers['content-type'], 
      r.encoding)
site = BeautifulSoup(r.text, 'html.parser')
Q

404 text/html; charset=utf-8 utf-8

'https://apress.github.io/pragmatic-python-programming/quotes.html'

### Listing 6-16

In [26]:
site.head.title

NameError: name 'site' is not defined

### Listing 6-17

In [ ]:
site.head.title.text

### Listing 6-19

In [27]:
for row in site.find_all('tr', 
        class_='book'):
    cells = row.find_all('td')
    print(cells[0].text, ': ', 
          cells[1].text, sep='')

NameError: name 'site' is not defined

### Listing 6-20

In [30]:
import pandas as pd
orders = pd.read_excel('orders.xlsx', 
                       index_col=0)

### Listing 6-21

In [31]:
orders.sort_values(by='Order value')

         Customer id  Order value Order date
Order id
R013            M001         2000 2020-01-21
R001            M001        10000 2020-01-15
R010            M001        11000 2020-01-20
R002            M002        13000 2020-01-15
R016            M004        19000 2020-01-22
R009            M004        22000 2020-01-18
R019            M001        23000 2020-01-23
R006            M003        25000 2020-01-17
R014            M001        28000 2020-01-22
R008            M001        31000 2020-01-18
R017            M002        34000 2020-01-22
R004            M003        37000 2020-01-16
R011            M002        40000 2020-01-20
R007            M002        42000 2020-01-17
R020            M003        46000 2020-01-23
R015            M005        52000 2020-01-22
R003            M002        58000 2020-01-16
R018            M004        61000 2020-01-23
R012            M003        64000 2020-01-20
R005            M001        70000 2020-01-16

### Listing 6-22

In [32]:
orders.groupby('Customer id').sum()

             Order value
Customer id
M001              175000
M002              187000
M003              172000
M004              102000
M005               52000

### Listing 6-23

In [33]:
"""Model of the order management

The domain model of order management system is
modeled by these classes. They can be used
to represent an actual order.

  Example usage:

  product = Product('T1', 'A product', 100)
  product.reduce_price(10)
"""
__version__ = '1.0.0'
...
if __name__=='__main__':
    ...

### Listing 6-27

In [34]:
from unittest import TestCase

class TestProduct(TestCase):
    def setUp(self):
        self.prod = Product('K01', 'Standard Cube', 1000)
    
    def test_product_creation(self):
        self.assertEqual(self.prod.code, 'K01')
        self.assertEqual(self.prod.name, 'Standard Cube')
        self.assertEqual(self.prod.price, 1000)
        self.assertEqual(self.prod.old_price, 1000)

    def test_price_reduction(self):
        self.prod.reduce_price(10)
        self.assertEqual(self.prod.price, 900)
        self.assertEqual(self.prod.old_price, 1000)
        
    def test_invalid_input(self):
        with self.assertRaises(TypeError):
            self.prod.reduce_price("A")

In [35]:
from unittest import TestLoader, TestResult
test_suite = TestLoader().loadTestsFromTestCase(TestProduct)
result = test_suite.run(TestResult())
result